<style>
  #form{
    width: 700px;
    margin-left: 300px;
    margin-top: 20px;
  }
</style>


<link rel="stylesheet" href="/styles.css"><div id="menu">


  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">
      <img src="imagens/logo/floco.png">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="cliente/cliente.component.html">Cadastro Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../app/produto/produto.component.html">Cadastro Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../app.component.html">Comprar Produto</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="encomenda/encomenda.component.html">Encomenda</a>
          </li>
      </ul>
    </div>
</nav>
</div>


<img src="imagens/banners/banner1.gif">
<router-outlet></router-outlet>
